# Python 3.11
black
click
exceptiongroup
iniconfig
mypyextensions
packaging
pathspec
pipplatformdirs
pluggy
pytest
pythondotenv
setuptools
tomli
typing_extensions
wheel
torch
scikitlearn
pandas
transformers
requests