# Python 3.11
black
click
exceptiongroup
iniconfig
packaging
pathspec
pluggy
pytest
dotenv
setuptools
tomli
typing_extensions
wheel
torch
scikit-learn
pandas
transformers
requests
notebook
matplotlib
seaborn
numpy